@import "tailwindcss";
@layer utilities {
    .animate-slide-in {
        animation: slide-in 0.25s ease-out forwards;
    }

    @keyframes slide-in {
        from {
            transform: translateX(100%);
        }

        to {
            transform: translateX(0);
        }
    }
}